body {background-color: hsl(0, 0%, 96%);margin: 0;padding: 0; font-family: 'Montserrat', sans-serif;}
html, body {height: 100%;}
body[data-a-loading='1'] {opacity: 0.5;transition: all .5s ease-in-out;}

body, table th {font-weight: 500;font-size: 14px;}

a, body {color:white;}
td > a {color: #1873cf;}
a {text-decoration: none}

[data-table][data-loading='1'] {opacity: 0.5; pointer-events:none;}
[data-table] .empty {display: none;}
[data-table][data-empty='1'] .empty {display: block;}
[data-table][data-empty='1'] .paging {display: none;}
table {border-spacing: 0px 1px; width: 100%;}
table tr{background-color: hsla(0, 0%, 98%, 1);border: none;}
table thead tr:first-child{background-color:transparent; color: hsla(0, 0%, 50%, 1)}
table th, table td{padding: 8px 12px; text-align: left}
table tr:first-child th:first-child{border-top-left-radius: 5px;}
[data-disabled='1'] {opacity: 0.5; pointer-events: none}

input, select.table {border-radius: 4px; border: 2px solid #f5f5f5; height: 25px; padding-left: 5px; margin-right:5px; transition: all .15s}
.rangeInputs input {cursor: pointer; width: 30%}
.rangeInputs:hover input {border: 2px solid #1873cf82}

.menu {left: 0; top: 0;position: fixed; width: 320px;background-color: hsla(0, 0%, 12%, 1);height: 100%;}
.menu .e {padding: 10px 15px; box-sizing: border-box;}
/* .menu .e[data-a-current='1'] {background-color: #1773cf;} */
.menu .e.active {background-color: #1773cf;}

.content {color: hsla(0, 0%, 10%, 1);margin-left: 320px;width: calc(100% - 320px);position: absolute;}

.s {padding: 0px 25px;position: absolute;left:50px;top:0;overflow-y: auto;opacity:1;transition: all .15s ease;width: calc(100% - 160px); height: 100%}
/* .s[data-a-current='1'] {opacity:1; visibility: visible;pointer-events: all; left: 0} */

.s.loading {opacity: 0.5; pointer-events: none}

.s.page-fade-enter-done {
  opacity: 1; left: 0px; transition: all .15s ease;
}

.pagefade-enter {
  opacity: 0; left: 150px; transition: all .15s ease;
}

.button.disabled {opacity: 0.5;pointer-events:none;}

 /* .pagefade-enter.pagefade-enter-active {
  opacity:0; left: 0px;
} */

.pagefade-exit {
  opacity:0; left:-50px;
}
/*
.pagefade-exit.pagefade-exit-active {
  opacity:0; left: 0px;
} */
